<header class="header">
  <div class="nav-header">
    <a class="logo-content" href="/">
      <img src='/assets/logo-main.png' class="logo" />
      <span class="text">Utopia</span>
    </a>
  </div>
</header>

<style>
  .header {
    position: fixed;
    width: 100%;
    height: 55px;
    border-bottom: solid 1px rgba(60, 60, 60, 0.12);
    background-color: #fff;
  }
  .nav-header {
    max-width: 1360px;
    height: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }
  .logo-content {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .logo {
    width: 36px;
  }
  .text {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 600;
  }
</style>
