---
import NavBarMenuLink from './NavBarMenuLink.astro';
import navBarData from '~/data/navBar';
---

<nav class="nav-bar-menu">
  {navBarData.navList.map((item) => (item.link ? <NavBarMenuLink item={item} /> : null))}
</nav>

<style>
  .nav-bar-menu {
    margin-right: 15px;
  }
</style>