---
import BaseLayout from '../layouts/BaseLayout.astro';
import GuideList from '../components/GuideList/index.astro'
---

<BaseLayout title="Welcome to Utopia.">
	<div class="home-content">
		<div class="guide-content">
			<GuideList />
		</div>
	</main>
</Layout>

<style>
	.home-content {
		margin: auto;
		padding: 1.5rem;
		font-size: 16px;
		line-height: 1.7;
	}
	.guide-content {
		width: 80%;
	}
</style>
