---
import BaseLayout from '../layouts/BaseLayout.astro';
import GuideList from '../components/GuideList/index.astro'
---

<BaseLayout title="Welcome to Utopia.">
	<div class="home-content">
		<h1>Welcome to Utopia</h1>
		<div class="guide-content">
			<GuideList />
		</div>
	</main>
</Layout>

<style>
	.home-content {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	
</style>
