---
import AstroIconExternalLink from "~/icons/AstroIconExternalLink.astro";
const { href, classList } = Astro.props;
const isExternal = href && /^[a-z]+:/i.test(href);
---

<a
  class:list={classList}
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
>
  <slot />
  {isExternal && <AstroIconExternalLink class="icon" />}
</a>

<style>
  a:hover {
    color: var(--astro-c-brand);
  }
  a.active {
    border-bottom: 1px solid var(--astro-c-brand);
  }
   :global(.icon){
    display: inline-block;
    margin-top: -1px;
    margin-left: 4px;
    width: 11px;
    height: 11px;
    fill: var(--astro-c-text-3);
    transition: fill 0.25s;
    flex-shrink: 0;
  }
</style>