---
import NavHeader from '../components/NavHeader/index.astro';
import HeadCommon from '../components/HeadCommon/index.astro';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <HeadCommon />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavHeader />
    <main class="layout">
      <div class="main-content">
        <slot />
      </div>
    </main>
  </body><style>
    .layout {
      max-width: 1360px;
      margin: 0 auto;
      padding-top: 75px;
    }
  </style>
</html>
