---
import NavHeader from '../components/NavHeader/index.astro';
import HeadCommon from '../components/HeadCommon/index.astro'
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <HeadCommon />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavHeader />
    <main class="main-content">
      <slot />
    </main>
  </body>
</html>

<style>
  .main-content {
    padding-top: 55px;
  }
</style>
