---
import NavHeader from '../components/NavHeader/index.astro';
import HeadCommon from '../components/HeadCommon/index.astro';
import HeadSEO from '../components/HeadSEO/index.astro';
const { content, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <HeadCommon />
    <HeadSEO content={content} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      .layout {
        max-width: 1360px;
        min-height: calc(100vh - 30px);
        margin: 0 auto;
        padding: 75px 0 30px;
      }
      .footer {
        height: 30px;
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        background-color: var(--astro-c-bg-soft);
      }
    </style>
  </head>
  <body>
    <NavHeader />
    <main class="layout">
      <div class="main-content">
        <slot />
      </div>
    </main>
    <footer class="footer">© 2023-present Utopia | KuangPF</footer>
  </body>
</html>
