---
import BaseLayout from './BaseLayout.astro';
import RightSidebar from '../components/RightSidebar/index.astro';

const { content, headings, title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="container">
    <div class="astro-docs">
      <slot />
    </div>
    <aside class="right-sidebar">
      <RightSidebar {...{ content, headings }} />
    </aside>
  </div>
</BaseLayout>

<script>
  function scrollTo(el: Element, hash: string, smooth = false) {
    let target: Element | null = null;
    try {
      target = el.classList.contains('header-anchor') ? el : document.querySelector(decodeURIComponent(hash));
    } catch (error) {
      console.warn(error);
    }

    if (target) {
      let offset: number = 90;

      const targetPadding = parseInt(window.getComputedStyle(target).paddingTop, 10);
      const targetTop = window.scrollY + target.getBoundingClientRect().top - offset + targetPadding;

      if (!smooth || Math.abs(targetTop - window.scrollY) > window.innerHeight) {
        window.scrollTo(0, targetTop);
      } else {
        window.scrollTo({
          left: 0,
          top: targetTop,
          behavior: 'smooth',
        });
      }
    }
  }
  window.addEventListener('click', (e: MouseEvent) => {
    // anchor 处理
    const link = (e.target as Element).closest('a');
    const isHeadAnchor = link?.classList.contains('header-anchor');
    const isTocHeader = link?.classList.contains('toc-header-link');

    if ((isHeadAnchor || isTocHeader) && link) {
      const { pathname, hash, search } = new URL(link.href, link.baseURI);
      const currentUrl = window.location;
      e.preventDefault();

      if (pathname == currentUrl.pathname && search === currentUrl.search) {
        if (hash) {
          if (hash !== currentUrl.hash) {
            history.pushState(null, '', hash);
          }

          scrollTo(link, hash, link.classList.contains('header-anchor'));
        }
      }
    }
  });
</script>

<style>
  .container {
    display: flex;
  }
  .astro-docs {
    flex: 1;
    width: 100%;
  }
  .right-sidebar {
    position: sticky;
    top: 80px;
    bottom: 0;
    width: 300px;
    height: fit-content;
    padding-left: 96px;
  }
</style>
