---
import BaseLayout from './BaseLayout.astro';
import RightSidebar from '../components/RightSidebar/index.astro';

const { content, headings, title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="container">
    <div class="astro-docs">
      <slot />
    </div>
    <aside class="right-sidebar">
      <RightSidebar {...{ content, headings }} />
    </aside>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
  }
  .astro-docs {
    flex: 1;
  }
  .right-sidebar {
    position: sticky;
    top: 80px;
    bottom: 0;
    width: 200px;
    height: fit-content;
    padding-left: 96px;
  }
</style>
